@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* End Global Rules */

/* Start Navbar */
nav {
  background-color: #ddd;
  text-align: center;
}
nav ul {
  display: inline-flex;
  flex-wrap: wrap;
}
nav ul li a {
  line-height: 4rem;
  display: inline-block;
  padding: 0 1rem;
  color: #000;
}
nav ul li a:hover {
  background-color: #fff;
  color: #009;
}
/* End Navbar */

/* Start Admin Login */
section.admin-login {
  padding: 3rem 0;
}
section.admin-login input {
  border: 1px solid #ddd;
  padding: 0.5rem;
}
/* End Admin Login */

/* Start Main Content */
.main-content.manage-admin table td,
.main-content.manage-admin table th {
  border-left: 2px solid #888;
  padding: 0.5rem;
}
.main-content.manage-admin table thead,
.main-content.manage-admin table tbody {
  border: 2px solid #888;
}
.main-content.add-admin .wrapper {
  text-align: center;
}
.main-content.add-admin table {
  display: inline-block;
  border: 1px solid #aaa;
  padding: 2rem;
  border-radius: 0.5rem;
}
.main-content.add-admin table tr td {
  vertical-align: middle;
}
.main-content.add-admin table tr td:first-child {
  font-weight: bold;
}
.main-content.add-admin table tr input,
.main-content.add-food table tr textarea,
.main-content.add-food table tr select {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  outline: none;
  transition: border 0.2s ease;
}
.main-content.add-admin table tr input:focus {
  border-color: #aaa;
}
.admin-msg {
  text-align: center;
  padding: 1rem 0;
}
/* End Main Content */

/* Start Footer */
footer {
  text-align: center;
  background-color: #eee;
}
footer .copyright {
  line-height: 4rem;
}
/* End Footer */

/* Start Responsive */
/*
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
*/
/* End Responsive */
